<div class="navbar">
	<a href="/">Home</a>
	<a href="/harrypotter/hufflepuffs">Hufflepuffs</a>
	<a href="/harrypotter/ravenclaws">Ravenclaws</a>
	<a href="/harrypotter/slytherins">Slytherins</a>
	<a href="/harrypotter/gryffindors">Gryffindors</a>
	<a href="/apod">Astronomy Picture of the Day</a>
	<a href="/starwars">Star Wars API</a>
</div>